/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 1128px;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

.gallery .gallery-item {
  width: 360px;
  height: 200px;
  overflow: hidden;
  position: relative;
}
.gallery .gallery-item:hover {
  transform: scale(1.05);
}
.gallery .gallery-image {
  width: 100%;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 8px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.feedback-form input,
.feedback-form textarea {
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;
}

.feedback-form button {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  background: #4e75ff;
  color: #fff;
  max-width: 95px;
}
.feedback-form button:hover,
.feedback-form button:active,
.feedback-form button:focus {
  background: #6c8cff;
}
